@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$success: #8cbf8c;
$danger: #e44655;

html * {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.container.main-content {
    margin-top: 50px;

    h1 {
        border-bottom: 2px solid $success;
        margin-bottom: 30px;
    }

    .task-table {
        min-height: 500px;
        text-align: center;

        thead th {
            font-size: x-large;
        }

        tbody tr:nth-of-type(odd) {
            --bs-table-accent-bg: #8cbf8c1a;
        }
        
    }       
    
    .new-task {

        border: 1px solid gray;
        display: flex;
        align-items: center;

        > div {
            padding: 20px;
        }        
    
        input#task-name {
            width: -webkit-fill-available;
            border: none;
            border-bottom: 1px solid black;
        }
        
        #timer {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
        }
    
        .values {
            min-width: 80px;
        }

        .btn {

            color: white;
            font-weight: 500;

            &.start {
                background-color: $success;
            }

            &.end {
                background-color: $danger;
            }
        }
    }

    .total {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        margin: 20px;
        background: #8cbf8c;
        color: white;
        height: 65px;
        font-size: x-large;

        * {
            font-weight: 400;
            padding-left: 30px;
            padding-right: 30px;
        }
    }
}

